/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 13 Jun 2024, 11:51:59
    Author     : DIANE J DALYOP
*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8f5;
  color: #333;
}
main {
  background-color: #e6ffe6;
}

header {
  background-color: #008080;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
}
.hero h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
}

section {
  height: 100px;
}
nav {
  width: 400px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
nav li {
  padding: 10px;
}

nav li a {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  padding: 10px;
  background-color: #ccc;
  color: #010108;
  border-radius: 10%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.hero {
  background: url("../images/mainimg.png") no-repeat center center/cover;
  color: white;
  padding: 5rem 3rem;
  text-align: center;
}
.mission p {
  font-size: 18px;
  margin: 30px 0;
  color: #777;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

.mission h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 30px;
}
.mission,
.projects {
  padding: 2rem 1rem;
  text-align: center;
}
.mission {
  height: 250px;
}
.about {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.project {
  display: inline-block;
  width: 45%;
  margin: 1rem;
}

.project img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  height: 300px;
}
/* image slide section*/

.slider-wrapper .image-list {
  display: grid;
  gap: 18px;
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

#contact-form {
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  background-color: #85adad;
  width: 70%;
  justify-content: space-evenly;
  border-radius: 15px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
#contact-form input {
  width: 500px;
  height: 50px;
  border-radius: 5px;
  border: 1px;
}
#message {
  width: 500px;
  height: 150px;
  border: 1px;
  border-radius: 5px;
}
.contact {
  height: 700px;
}
main {
  height: 1200px;
}

.container-body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f1f4fd;
  margin-top: 50px;
  background-color: #008080;
}
.partnersndawards img {
  border-radius: 20px;
  padding: 15px;
}
.partnersndawards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 1200px;
  width: 95%;
  padding: 0 10;
}
.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  outline: none;
  background: #0f0f3d;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}
.footsponsors {
  border-radius: 70px;
}

.aboutpic {
  height: 600px;
  width: 600px;
  background-color: white;
}
.slider-wrapper .slide-button:hover {
  background: #444;
}
.slider-wrapper .slide-button#prev-slide {
  left: -20px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -20px;
}
.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}
.slider-scrollbar:hover .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
.about {
  height: 500px;
}
.cycleimg {
  width: 300px;
  height: 300px;
}
.aboutpic {
  padding: 0px;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 2px 2px gray;
}
.about {
  display: flex;
}
.aboutcontainer {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.aboutparagraph {
  padding: 60px;
}

footer hr {
  width: 700px;
}
@media only screen and (max-width: 600px) {
  header {
    display: flex;
    height: 80px;
    flex-direction: column;
  }
  nav li {
    padding: 10px;
    background-color: #ccc;
    color: #010108;
    border-radius: 10%;
  }
  li a {
    color: #010108;
  }
  nav ul {
    display: flex;
    width: 400px;
    justify-content: space-evenly;
  }

  .mission {
    height: 300px;
  }

  header .logo {
    font-size: 17px;
  }

  .hero {
    padding: 2rem 1rem;
    font-size: 1rem;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mission,
  .projects {
    padding: 1rem 0.5rem;
  }
  .mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main {
    height: 1300px;
  }
  .project {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
  }

  .project img {
    width: 100%;
  }

  .partnersndawards {
    flex-direction: column;
  }

  .aboutpic {
    height: auto;
    width: 100%;
  }

  .slider-wrapper .image-list .image-item {
    width: 200px;
    height: 250px;
    object-fit: cover;
  }
  footer {
    height: auto;
    padding: 1rem 0.5rem;
  }

  footer hr {
    width: 100%;
  }

  .container-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background: #f1f4fd;
    margin-top: 50px;
    background-color: #008080;
  }
  .partnersndawards {
    display: flex;
    flex-direction: row;
  }
  .partnersndawards img {
    width: 50px;
    height: 50px;
  }
  .logo img {
    height: 50px;
    width: 50px;
  }
  .contact_column input {
    max-width: 300px;
  }
  #message {
    max-width: 300px;
  }

  footer {
    margin-top: 30px;
  }
}
